.cover__link {
  background-image: url(../../../images/cover-trains.jpg);
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.cover__link::before {
  content: '';
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width:768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    min-height: 200px;
  }
}

@media screen and (min-width:321px) and (max-width: 767px) {
  .cover__link {
    min-height: 350px;
  }
}