.footer__column-link {
  max-width: 50px;
  height: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
}


@media screen and (max-width: 320px) {
  .footer__column-link {
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (min-width:321px) and (max-width: 767px) {
  .footer__column-link {
    font-size: 24px;
    line-height: 24px;
  }
}