.cover {
  padding-bottom: 92px;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

@media screen and (max-width:768px) {
  .cover {
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    padding-bottom: 64px;
  }
}