.place {
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 460px 1fr;
  row-gap: 48px;
  column-gap: 40px;
}

.place:last-child {
  padding-bottom: 0px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    row-gap: 48px;
    column-gap: 32px;
  }
}

@media screen and (max-width:768px) {
  .place {
    padding-bottom: 73px;
    grid-template-columns: 340px 1fr;
    row-gap: 48px;
    column-gap: 28px;
  }
}


@media screen and (max-width: 320px) {
  .place {
    padding-bottom: 50px;
    grid-template-columns: 100%;
    row-gap: 32px;
    column-gap: 50px;
  }
}

@media screen and (min-width:321px) and (max-width: 767px) {

  .place {
    grid-template-columns: 100%;
  }
}